:root {
  --gold-yellow: #FFD700;
  --blue: #316cb3;
  --card-yellow: #ffcb05;
  --blue-dark: #16529b;
  --white: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;

  list-style: none;
}